@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 17% 98%;
    --foreground: 222 84% 4%;
    --card: 220 17% 98%;
    --card-foreground: 222 84% 4%;
    --popover: 220 17% 98%;
    --popover-foreground: 222 84% 4%;
    --primary: 42 99% 50%;
    --primary-foreground: 222 84% 4%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215 28% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 100% 41%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 222 84% 4%;
    --radius: 0.5rem;
    --chart-1: 42 99% 50%;
    --chart-2: 0 100% 41%;
    --chart-3: 13 97% 44%;
    --chart-4: 351 96% 12%;
    --chart-5: 353 95% 21%;
    --sidebar-background: 210 40% 96.1%;
    --sidebar-foreground: 222 84% 4%;
    --sidebar-border: 214 32% 91%;
  }

  .dark {
    --background: 222 84% 4%;
    --foreground: 210 40% 98%;
    --card: 351 96% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4%;
    --popover-foreground: 210 40% 98%;
    --primary: 45 100% 51%;
    --primary-foreground: 222 84% 4%;
    --secondary: 351 96% 12%;
    --secondary-foreground: 210 40% 98%;
    --muted: 351 96% 12%;
    --muted-foreground: 215 28% 44%;
    --accent: 351 96% 12%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 100% 41%;
    --destructive-foreground: 210 40% 98%;
    --border: 351 96% 12%;
    --input: 351 96% 12%;
    --ring: 45 100% 51%;
    --chart-1: 42 99% 50%;
    --chart-2: 0 100% 41%;
    --chart-3: 13 97% 44%;
    --chart-4: 351 96% 12%;
    --chart-5: 353 95% 21%;
    --sidebar-background: 351 96% 12%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-border: 222 84% 4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
